@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
}

.dark-mode {
    background-color: hsl(207, 26%, 17%);
    color: white;
}
.dark-mode .grid-container {
    background-color: hsl(207, 26%, 17%);
    color: white;
}

.dark-mode .country-box {
    background-color: hsl(209, 23%, 22%);
    color: white;
    box-shadow: 0 2px 15px hsl(213.3, 11.1%, 15.9%);
}

.dark-mode .detail {
    background-color: hsl(209, 23%, 22%);
    color: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    color: hsl(200, 15%, 8%);
    font-size: 25px;
    font-weight: bold;
}

.dark-mode h1 {
    color: white;
    background-color: hsl(209, 23%, 22%);
}

a {
    text-decoration: none;
}

#header {
    background-color: white;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.08);
}

.dark-mode #header {
    background-color: hsl(209, 23%, 22%);
    box-shadow: 0 2px 15px hsl(213.3, 11.1%, 15.9%);
}

.headerBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px 20px 50px;
  }

  #toggle-color {
    font-size: 14px;
    color: hsl(200, 15%, 8%);
    background-color: hsl(0, 0%, 98%);
    border: none;
    cursor: pointer;
}

.dark-mode #toggle-color {
    color: white;
    background-color: hsl(209, 23%, 22%);
}

.searchContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px 20px 50px;
    background-color: hsl(0, 0%, 98%);
}

.dark-mode .searchContainer {
    background-color: hsl(207, 26%, 17%);
}

#region-select {
    background-color: white;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-family: "Nunito Sans", sans-serif;
    padding: 20px;
}

.dark-mode #region-select {
    background-color: hsl(209, 23%, 22%);
    color: white;
    box-shadow: 0 2px 15px hsl(213.3, 11.1%, 15.9%);
}

#search-input {
    background-color: white;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-family: "Nunito Sans", sans-serif;
    padding: 20px;
    width: 400px;
}

.dark-mode #search-input {
    background-color: hsl(209, 23%, 22%);
    color: white;
    box-shadow: 0 2px 15px hsl(213.3, 11.1%, 15.9%);
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: hsl(0, 0%, 98%);
    width: auto;
}

.row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.country-box {
    width: 280px;
    color: hsl(200, 15%, 8%);
    background-color: white;
    box-shadow: 0 2px 15px rgba(104, 20, 20, 0.08);
    border-radius: 6px;
    margin: 10px;
    text-align: left;
}

.country-box img {
    width: 280px;
    height: 150px;
    margin-bottom: 10px;
}

.country-box h2 {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 10px;
}

.country-box p {
    font-size: 16px;
    padding-bottom: 10px;
}

.country-box span {
    font-size: 18px;
    font-weight: bold;
}

.detail {
    padding: 15px;
    color: #111517;
}

.backBox {
    background-color: white;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    padding: 10px;
}

.dark-mode .backBox {
    background-color: hsl(209, 23%, 22%);
    box-shadow: 0 2px 15px hsl(213.3, 11.1%, 15.9%);
}

#backText, #backIcon {
    color: hsl(200, 15%, 8%);
    padding: 10px;
}

.dark-mode #backText, .dark-mode #backIcon {
    color: white;
}

#detail-div {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: hsl(0, 0%, 98%);
    padding: 20px;
}

.dark-mode #detail-div {
    background-color: hsl(207, 26%, 17%);
    color: white;
}

#detail-Img {
    width: 520px;
    height: 420px;
    padding: 40px;
    padding-left: 28px;
    padding-top: 20px;
}

#countryData {
    font-family: "Nunito Sans", sans-serif;
    padding-left: 50px;
}

#countryData h2 {
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;
}

#countryData p {
    padding: 10px;
}

.info {
    display: flex;
    justify-content: space-between;
}

.info-1 {
    padding-right: 100px;
}

#borders {
    margin-top: 15px;
}